<div class="flex border-4 border-white  h-screen">
    <div class="flex-1 animate-fade-in-right h-full border-2">
        <img src="assets/imgs/lemonMain1.jpg" alt="Lemon" class="h-full w-full object-cover">
    </div>
    <div class="animate-fade-in-up flex-1 h-full flex flex-col justify-center items-center bg-black text-white">
        <div class="w-3/4 text-center flex-1 flex gap-4 flex-col justify-center items-center">
            <h1 class="text-6xl font-bold">¿Está realmente tu limón en buen estado?</h1>
            <p  class="text-lg"> Los limones son una excelente fuente de vitamina C y otros nutrientes beneficiosos para la salud. Un limón en mal estado podría haber perdido parte de su valor nutricional, lo que podría afectar los beneficios para la salud que se obtienen al consumirlo.</p>
            <p class="text-lg">Sube una foto de tu limón y deja que nuestra aplicación te diga su estado con la ayuda del poder de la inteligencia artificial.</p>
        </div>
        <p class="text-xl font-semibold italic mb-5">Sigue leyendo</p>
        <svg  fill="#fff" class="flex-none w-[120px] h-[130px]">
            <image href="assets/svgs/flecha.svg" class="w-28 h-28"/>
        </svg>
    </div>
</div>
