<div class="flex border-4 border-black h-screen">
    <div class="animate-fade-in-up flex-1 h-full flex flex-col justify-center items-center bg-white text-black">
        <div class="w-3/4 text-center flex-1 flex gap-4 flex-col justify-center items-center">
            <h1 class="text-6xl font-bold">¿Por qué debería importarte?</h1>
            <p class="text-lg">Los limones son conocidos por sus propiedades digestivas. Consumir un limón en buen estado puede ayudar a mantener una digestión saludable, mientras que un limón en mal estado puede causar malestar estomacal o problemas digestivos.</p>
            <p>Aquí están las consecuencias de consumir un limón en mal estado:</p>
            <ul class="list-disc list-inside">
                <li>Malestar estomacal</li>
                <li>Problemas digestivos</li>
                <li>Pérdida de nutrientes</li>
                <li>Riesgo de intoxicación alimentaria</li>
                <li>Alteración del sabor y frescura</li>
            </ul>
        </div>
        <p class="text-xl font-semibold italic mb-5">Sigue leyendo</p>
        <svg fill="#fff" class="flex-none w-[120px] h-[130px]">
            <image href="assets/svgs/flecha2.svg" class="w-28 h-28"/>
        </svg>
    </div>
    <div class="flex-1 animate-fade-in-right h-full border-2">
        <img src="assets/imgs/lemonComposition1.jpg" alt="Lemon" class="h-full w-full object-cover">
    </div>
</div>
