<div id="section" class="bg-black text-black flex justify-center items-center h-screen overflow-hidden">
    <div>
        <h1 id="titulo" class="text-4xl">¿Cómo diferenciar un limón en buen estado de uno que está dañado?</h1>
        <ul class="list-disc list-inside mt-2">
            <li class="text-4xl mb-2 flex">
                <img class="lemon h-11 w-11" src="assets/imgs/limoncito.png" alt="Lemon">
                <p>
                    Un limón en buen estado debe tener una cáscara brillante y sin manchas oscuras.
                </p>
            </li>
            <li class="text-4xl mb-2 flex">
                <img class="lemon h-11 w-11" src="assets/imgs/limoncito.png" alt="Lemon">
                <p>
                    Debe sentirse firme al tacto, no blando ni arrugado.
                </p>
            </li>
            <li class="text-4xl mb-2 flex">
                <img class="lemon h-11 w-11" src="assets/imgs/limoncito.png" alt="Lemon">
                <p>
                    Un limón fresco tendrá un aroma cítrico y fresco.
                </p>
            </li>
            <li class="text-4xl mb-2 flex">
                <img class="lemon h-12 w-12" src="assets/imgs/limoncito.png" alt="Lemon">
                <p>
                    Un limón en buen estado debería sentirse pesado para su tamaño, lo que indica
                    jugosidad.</p>
            </li>
            <li class="text-4xl mb-2 flex">
                <img class="lemon h-11 w-11" src="assets/imgs/limoncito.png" alt="Lemon">
                <p>
                    Los limones maduros suelen tener un color amarillo brillante.
                </p>
            </li>

        </ul>
    </div>
</div>